*.vcxproj
*.filters
*.user
*.sln

/bin/
/bin-int/
/.vs/
/.git/

/VOEngine/vendor/glad/bin/
/VOEngine/vendor/glad/bin-int/
/VOEngine/vendor/glad/.vs/
/VOEngine/vendor/glad/.git/
*.log
*.log
*.tlog
*.lastbuildstate
*.idb
