[submodule "VOEngine/vendor/spdlog"]
	path = VOEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "VOEngine/vendor/GLFW"]
	path = VOEngine/vendor/GLFW
	url = https://github.com/xilo228/glfw.git
[submodule "VOEngine/vendor/ImGui"]
	path = VOEngine/vendor/ImGui
	url = https://github.com/xilo228/imgui.git
[submodule "VOEngine/vendor/glm"]
	path = VOEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
